*{
    margin:0;
    padding:0;
    /* box-sizing:border-box; */
    font-family: Arial, sans-serif;
}

body{
    background:#0b0f1a;
    color:white;
    height:100vh;
    align-content:center;
}

h1{
    position:fixed;
    display:inline-block;
    text-align:center;
    width:98vw;
    top:0;
    left:0;
    font-size:3em;
    text-align:center;
    border-bottom:2px ridge rgba(255, 255, 255, 0.677);
    margin:10px;
    padding:10px;
    z-index:1000;
    background-color:#0b0f1a;
}

#titre{
    color:rgba(57, 57, 246, 0.874);
}

/* CONTAINER */
.container{
    margin:auto;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

/* TITLE */
h2{
    margin-bottom:50px;
    font-size:2rem;
}

/* OPTIONS */
.options{
    display:flex;
    gap:50px;
}

/* CARD */
.card{
    width:280px;
    height:280px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:0.3s;
    flex-direction: column;
    object-fit: contain;
    gap:5px;
}

.card:hover{
    transform:scale(1.05);
    background:rgba(255,255,255,0.1);
}

/* TEXT */
.card span{
    font-size:1.1rem;
}
.card img{
    height:150px;
    width:150px;
    object-fit: contain;
    flex-shrink:1;
    flex-grow:0;
}