
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#0b0f1a;
    color:white;
    height:100vh;
}


h1{
    top:0;
    left:0;
    font-size:3em;
    text-align:center;
    border-bottom:2px ridge rgba(255, 255, 255, 0.677);
    margin:10px;
    padding:10px;
    z-index:1000;
    background-color:#0b0f1a;
}

#titre{
    color:rgba(57, 57, 246, 0.874);
}

/* MAIN GRID */
.container{
    top:10vh;
    left:0;
    display:flex;
    flex-direction: row;
    gap:3px;
   
}

/* LEFT COLUMN */
.left{
    border-right:1px solid rgba(255,255,255,0.1);
    padding:15px;
    height:100vh;
    min-width:15vw;
    display:flex;
    flex-direction:column;
    gap:5px;
}

.left h3{
    margin-bottom:10px;
    opacity:0.7;
    text-decoration:underline;
}

.ajouter{
    border:2px ridge grey;
    border-radius:5px;
    font-weight:bold;
    background-color:rgba(255,255,255,0.05);
    font-size:x-large;
    color:white;
    text-align:center;
    cursor:pointer;
    transition:border-style 0.5s ease , transform 0.5s ease;
}
.ajouter:hover{
    border-style: dashed;
    transform:scale(1.12,1.12)
}

.frame-name{
    padding:10px;
    margin-bottom:8px;
    background:rgba(255,255,255,0.05);
    border-radius:8px;
    cursor:pointer;
    text-align:center;
    font-size:2em;
}

/* CENTER COLUMN */
.center{
    display:flex;
    flex-direction:row;
    gap:10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap:wrap;
    height:100vh;
    min-width:60vw;
    
    
}

.camera-frame{
    background:rgba(255,255,255,0.05);
    border:1px solid  blue;/*  rgba(255,255,255,0.1); */
    border-radius:15px;
    min-width:28vw;
    max-height:70vh;
    display:flex;
    flex-direction:column;
    gap:2px;
    flex-grow:1;
    flex-shrink:1;
    flex-basis:28vw;
}

/* Ici, c'est pour le dessin du cadre  */
.canva{               
    border-radius:15px;
    min-height:0;
    object-fit:contain;
    height:80%;   
    aspect-ratio: 1;
}

.source{
    border-radius:15px;
    min-height:0;
    object-fit:contain;
    height:100%;   
}
.options{
    display:flex;
    flex-direction:row;
    padding:5px;
    border-radius:5px;
    justify-content: space-around;
    height:40px;
    bottom:3px;
    margin-bottom:10px;
    flex-shrink:0;
    
}

.nom-room{
    color:rgb(54, 54, 238);
    text-align:center;
    align-content:center;
    padding:9px;
    font-weight:bold;
    font-size:2em;
    
}
.bouton{
    border-radius: 5px;
    font-weight:bold;
    transition: transform 0.2s, background-color 0.3s;
    padding:9px;
}
.entrer{
    background-color: #007bff;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
    padding:9px;
}
    

.entrer:hover {
  background-color: #0056b3;
  transform: translateY(-2px); /* Petit effet de levier au survol */
}

.fermer{
    background-color: #dc3545;
    box-shadow: 0 4px 15px rgba(220, 53, 69, 0.3);}

.fermer:hover {
  background-color: #a71d2a;
  transform: translateY(-2px);
}


/* RIGHT COLUMN */
.right{
    border-left:1px solid rgba(255,255,255,0.1);
    padding:15px;
    height:100vh;
    min-width:23vw;
    display:flex;
    flex-direction:column;
    gap:5px;
}

.right h3{
    margin-bottom:10px;
    opacity:0.7;
    text-decoration:underline;
}

.person{
    padding:10px;
    margin-bottom:8px;
    background:rgba(0,255,200,0.08);
    border-left:3px solid #00ffc3;
    border-radius:8px;
}
/* POP-UP div */
.pop-up{
    visibility:hidden;
    position:fixed;
    top:0px;
    left:0px;
    height:100vh;
    width:100vw;
    background-color:rgba(0, 0, 0, 0.8);
    justify-content:center;
    align-content:center;
}

.formulaire{
    width:400px;
    padding:10px;
    border-radius:10px;
    background-color:#0b0f1a;
    display:flex;
    flex-direction:column;
    gap:10px;
    justify-content:center;
    align-content: center;
    margin:auto;
}

.formulaire input{
    border-radius: 10px;
    width:96%;
    height: 40px;
    font-size:large;
    background-color:#040e1a;
    margin:10px auto 10px auto;
    color:white;
}
.confirmer{
    text-align:center;
    margin:auto;
    background-color: #007bff;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
    border-radius:6px;
    padding:10px;
    cursor:pointer;
    transition:background-color 0.5s ease, transform 0.5s ease;
}
.confirmer:hover{
    background-color: #0056b3;
    transform: translateY(-2px);
}

.info{
    font-size:larger;
    color:red;
    margin:auto;
}


/* AGRANDIR div */
.agrandir{
    top:0;
    left:0;
    position:fixed;
    height:100vh;
    width:100vw;
    display:flex;
    gap:10px;
    flex-direction:row;
    background-color:#0b0f1a;
    visibility:hidden;
    z-index:2000;
}

.close{
    position:fixed;
    top:5px;
    right:5px;
    font-size:2em;
    color:white;
    background-color:red;
    padding:3px;
    border-radius: 4px;
    cursor:pointer;
}

.ruban{
    margin-top:30px;
    right:2px;
    border-left:1px solid rgba(255,255,255,0.1);
    padding:15px;
    height:100vh;
    min-width:23vw;
    display:flex;
    flex-direction:column;
    gap:5px;

}

.ruban h3{
    margin-bottom:10px;
    opacity:0.7;
    text-decoration:underline;
}


#file{
    display:none;

}
.preview_div{
    display:flex;
    min-height:400px;
    width:380px;
    margin:auto;
    flex-direction:column;
    background:radial-gradient(to circle,blue transparent,white);
    border:2px dashed #103057;
    border-radius:10px;
    font-size:70px;
    text-align:center;
    justify-content:center;
    align-content:center;
    object-fit:contain;
    cursor:pointer;
}

.preview{
    display:none;
    flex-basis:400px;
    aspect-ratio: 1;
    border:2px dashed #040e1a;
    border-radius:10px;
    
}

.chargement{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    visibility: hidden;
    display:flex;
    background-color: #000000d8;
    justify-content: center;
    align-content: center;
}
.alerte{
    font-size: 2em;
    color:red;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  --b: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    ;
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: l5 1s infinite;
  margin:auto;
}
@keyframes l5 {to{transform: rotate(.5turn)}}


