{% extends "base.html" %}
{% load static %}
{% block title %}Reconnaissance Faciale | Dashboad{% endblock title %}
{% block head %}
<link rel='stylesheet' href={% static "css/board.css" %}>
{% endblock head %}
{% block body %}

<h1>Tableau de <span id='titre'>board</span></h1>
<div class="container">

    {% comment %} <!-- LEFT --> {% endcomment %}
    <div class="left">
        <h3>Listes des Caméras</h3>
        <button class='ajouter'>+</button>
        {% comment %} <!-- <div class="frame-name">Camera-1</div> --> {% endcomment %}
        
    </div>

    {% comment %} <!-- CENTER --> {% endcomment %}
    <div class="center">
        {% comment %} <!-- Ici, il me faudra créer deux div , un img 
     deux boutons et un span dans js avec les classes appropriés -->
        <!-- <div class="camera-frame">
            <img class='source' >
            <div class='options'>
                <button class='entrer bouton'>Voir👀</button>
                <span class='nom-room'>Paris</span>
                <button class='fermer bouton'>Fermer⛔</button>
            </div>
        </div> --> {% endcomment %}
        
    </div>

    {% comment %} <!-- RIGHT --> {% endcomment %}
    <div class="right">
        <h3>Personnes détectés</h3>
{% comment %} <!-- 
        <div class="person">John Doe - 98%</div>
        <div class="person">Unknown - 72%</div>
        <div class="person">Alice K. - 95%</div>
        <div class="person">Unknown - 60%</div>
    </div> --> {% endcomment %}

</div>

{% comment %} <!-- La fenêtre pour demander des informations --> {% endcomment %}
<div class='pop-up'>
    <div class='formulaire'>
        {% csrf_token %}
        <input type="text" placeholder='Entrer un nom de cam' name='name'>
        <input type='url' placeholder="Entrer l'url" name='url'>
        <span class='info'></span>
        <bouton class='confirmer'>Confirmer</bouton>
    </div>
</div>


{% comment %} Ici, je vais faire le div qui va permettre de faire l'agrandissement de la frame video ou camera {% endcomment %}
<div class='agrandir'>
    <div class='close'>X</div>
    <div class='ruban'>
        <h3>Listes des personnes détectés</h3>
    </div>
</div>

<script src={% static "js/board.js" %}></script>
{% endblock body %}