{% extends "base.html" %}
{% load static %}
{% block title %}Reconnaissance Faciale | Mode d'entrée{% endblock title %}
{% block head %}
<link rel='stylesheet' href={% static "css/choix.css" %}>
{% endblock head %}
{% block body %}
<h1>Reconnaissance <span id='titre'>Faciale</span></h1>
<div class="container">
    <h2>Selectionner la méthode d'entrée </h2>

    <div class="options">
        <div class="card" onclick="goToImage()">
            <span>Téléverser une image</span>
            <img src={% static "img/televerser.png" %}></img>
        </div>

        <div class="card" onclick="goToLive()">
            <span>Utiliser un flux video</span>
            <img src={% static "img/live.png" %}></img>
        </div>

        <div class="card" onclick="goToCamera()">
            <span>Utiliser La webcam</span>
            <img src={% static "img/webcam.png" %}></img>
        </div>

    </div>
</div>
<script src={% static "js/choix.js" %}></script>

{% endblock body %}

