{% extends "base.html" %}
{% load static %}
{% block title %}Reconnaissance Faciale | Image{% endblock title %}
{% block head %}
<link rel='stylesheet' href={% static "css/image.css" %}>
{% endblock head %}
{% block body %}

<h1>Tableau de <span id='titre'>board</span></h1>
<div class="container">

    {% comment %} <!-- LEFT --> {% endcomment %}
    <div class="left">
        <h3>Listes des images</h3>
        <button class='ajouter'>+</button>
        {% comment %} <!-- <div class="frame-name">Camera-1</div> --> {% endcomment %}
        
    </div>

    {% comment %} <!-- CENTER --> {% endcomment %}
    <div class="center">
        {% comment %} <!-- Ici, il me faudra créer deux div , un img 
     deux boutons et un span dans js avec les classes appropriés -->
        <!-- <div class="camera-frame">
            <span><img class='source' ></span>
            <div class='options'>
                <button class='entrer bouton'>Voir</button>
                <span class='nom-room'>Paris</span>
                <button class='fermer bouton'>Fermer</button>
            </div>
        </div> --> {% endcomment %} 
        
    </div>

    {% comment %} <!-- RIGHT --> {% endcomment %}
    <div class="right">
        <h3>Personnes détectés</h3>
{% comment %} <!-- 
        <div class="person">John Doe - 98%</div>
        <div class="person">Unknown - 72%</div>
        <div class="person">Alice K. - 95%</div>
        <div class="person">Unknown - 60%</div>
    </div> --> {% endcomment %}

</div>

{% comment %} <!-- La fenêtre pour demander des informations --> {% endcomment %}
<div class='pop-up montrer'>
    <div class='formulaire'>
        {% csrf_token %}
        <input type="text" placeholder='Entrer un nom de cam' name='name'>
        <input type="file" accept="image/*" placeholder='url' name='url' id='file'>
        <div class="preview_div">
            <span id='plus'>+</span>
            <img title="selectionner une image" class='preview'></img>
        </div>
        <span class='info'></span>
        <button class='confirmer'>Confirmer</button>
    </div>
</div>

{% comment %} Ici, je vais faire le div qui va permettre de faire l'agrandissement de la frame video ou camera {% endcomment %}
<div class='agrandir montrer'>
    <div class='close'>X</div>
    <div class='ruban'>
        <h3>Listes des personnes détectés</h3>
    </div>
</div>
<div class='chargement'>
    <div class="loader"></div>
    <span class='alerte'></span>
</div>
<script src={% static "js/image.js" %}></script>
{% endblock body %}